<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  </head>
  <header>
    <section class="section">
      <nav class="navbar is-light has-shadow is-fixed-top">
        <!-- Logo -->
        <div class="navbar-item">
          <img src="../../assets/images/logo.png">
        </div>
        <!-- Select specialty -->
        <div class="navbar-item">
          <div class="navbar-item">
            <label style="padding-right: 8px; font-size: 1.1em;">Specialty:</label>
            <div class="select">
              <select [(ngModel)]="filterSpecialty">
                <option *ngFor="let specialty of specialties" [ngValue]="specialty">{{specialty}}</option>
              </select>
            </div>
          </div>
        </div>
        <!-- Select location -->
        <div class="navbar-item">
          <div class="navbar-item">
            <label style="padding-right: 8px; font-size: 1.1em;">Location:</label>
            <div class="select">
              <select [(ngModel)]="filterLocation">
                <option *ngFor="let location of locations" [ngValue]="location">{{location}}</option>
              </select>
            </div>
          </div>
        </div>
        <!-- Select rating -->
        <div class="navbar-item">
          <div class="navbar-item">
            <label style="padding-right: 8px; font-size: 1.1em;">Minimum&nbsp;Rating:</label>
            <input [(ngModel)]="filterRating" class="input" type="number" min="0" max="5" step="0.1">
          </div>
        </div>
        <div class="navbar-item">
          <a class="button" style="color: white; background-color: #00008B; font-size: 1.1em; font-weight: bold" (click)="applyFilter()">Apply Filter</a>
        </div>   
      </nav>
    </section>
  </header>
  <body>
    <section class="section">
      <div class="container">
        <ul *ngFor="let doc of filteredDoctors">
          <a (click)="showSimilar(doc)">
            <div class="doctor-card">
              <img class="doctor-image" [src]="doc.imageUrl">
              <div class="doctor-info">
                <div class="row">
                    <span class="doctor-name">Dr. {{doc.name}}</span>
                    <span class="doctor-rating">{{doc.rating}}/5</span>
                    <span class="doctor-address">{{doc.displayedAddress}}</span>
                </div>
                <div class="row">
                  <span class="doctor-specialty">{{doc.specialty}}</span>
                </div>
                <div class="row">
                  <span class="doctor-location">{{doc.location}}</span>
                </div>
              </div>
            </div>
          </a>
        </ul>
      </div>
    </section>
  </body>
</html>